# Build folders
cmake-build-debug/
cmake-build-release/
build/
CMakeLists.txt

# Compiled binaries
*.exe
*.o
*.obj

# Python cache
__pycache__/

# Data files (your live stream logs)
feed.txt
*.csv

# CLion junk
.idea/